<!DOCTYPE html>
<html>
<head>
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Início</a> |
    <a href="/usuarios">Usuários</a> |
    <a href="/cadastro">Cadastrar</a>
  </nav>
  <hr>
